
/*
dimension les plus vues en web :
px      =>  Pixel
em      =>  cadratin : unité de mesure en print sur les presses
            le cadratin se calcul par rapport à son parent
rem     =>  cadratin racine : se calcul par rapport à la taille racine de police
%       =>  pourcentage, se calcule par rapport à l'élément qui le contient
vw & vh =>  viewport width & viewport height : correspond à la taille 
            d'affichage de la page en largeur et en hauteur
            si affichage en largeur 768px alors 20vw = 153.6 px

si 2em = 32 px, 1em = 16px
*/

:root{
    font-family: Arial, Helvetica, sans-serif;
    --orange-halloween: #ff8c00;
    --header-bg-color: black;
    --header-font-color: white;
    --nav-princ-bg-color: black;
    --nav-princ-font-color: white;
    --nav-princ-border-link: rgba(255, 255, 255);
    font-size: 1.1rem;
    line-height: 1.6rem;
    --element-guter-size: 0.5rem;
    --column-1-1: calc( 100% - calc( 2 * var(--element-guter-size)) );
    --column-1-2: calc( 50% - calc( 2 * var(--element-guter-size)) );
    --column-1-3: calc( 33% - calc( 2 * var(--element-guter-size)) );
    --column-2-3: calc( 66% - calc( 2 * var(--element-guter-size)) );
    --column-1-4: calc( 25% - calc( 2 * var(--element-guter-size)) );
    --column-3-4: calc( 75% - calc( 2 * var(--element-guter-size)) );
}

/* déclarations générales*/

*, *::before, *::after{
    box-sizing: border-box;
}

h1{
    margin: 0;
}

img{
    max-width: 100%;
}

/* classes */

.test-content-box div{
    box-sizing: content-box;
}

.test-border-box div{
    box-sizing: border-box;
}

.moitie{
    width: 50%;
    height: 50px;
    border: 1px solid black;
    padding: 10px;
    display: inline-block;
}

.deuxEm{
    font-size: 2em;
    border: 1px solid black;
    padding: 20px;
}
.deuxRem{
    font-size: 2rem;
    border: 1px solid black;
    padding: 20px;
}

.center-swiper{
    text-align: center;
}

.swiper-slide img{
    max-height: 400px;
}

/* déclarations sur l'archi */

body{
    margin: 0;
}

body > header{
    background-color: var(--header-bg-color);
    color: var(--header-font-color);
    text-align: center;
}

body > nav,
body > footer{
    background-color: var(--nav-princ-bg-color);
    color: var(--nav-princ-font-color);
}

body > nav ul,
body > footer ul{
    margin: 0;
    list-style-type: none;
    padding: 0;
    line-height: 2.5rem;
}

body > nav ul li,
body > footer ul li{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--nav-princ-border-link);
}

body > nav ul a,
body > nav ul a:visited,
body > footer ul a,
body > footer ul a:visited
{
    color: var(--nav-princ-font-color);
    text-decoration: none;
    display: block;
    padding-left: 25px;
    padding-right: 25px;
}

body > nav ul li:last-child{
    border-bottom: unset;
}

body > nav ul a:hover,
body > nav ul a:focus,
body > footer ul a:hover,
body > footer ul a:focus
{
    background-color: var(--nav-princ-font-color);
    color: var(--nav-princ-bg-color);
}

body > main,
body > nav > ul,
body > footer > section{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

body > main > section article{
    padding: 1rem;
    width: var(--column-1-1);
    margin: var(--element-guter-size);
}

body > footer ul{
    line-height: 2rem;
}

body > footer h4{
    text-align: center;
}

/*
@media print {
    body > nav, button, body > footer{
        display: none;
    }
}
*/

@media screen and (min-width: 576px){
    body > main,
    body > nav > ul,
    body > footer > section{
        width: 540px;
    }
}

@media screen and (min-width: 768px){
    body > main,
    body > nav > ul,
    body > footer > section{
        width: 720px;
    }

    body > nav > ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    body > nav ul li{
        border-bottom: unset;
    }

}

@media screen and (min-width: 992px){
    body > main,
    body > nav > ul,
    body > footer > section{
        width: 960px;
    }

    body > main > section:not(#carousel){
        display: flex;
        flex-wrap: wrap;
    }

    body > main > section article{
        width: var(--column-1-2);
    }

    body > main > section > article:last-child:nth-of-type(2n + 1){
        width: var(--column-1-1);
    }

    body > footer > section{
        display: flex;
        flex-wrap: wrap;
    }

    body > footer > section > div{
        width: var(--column-1-3);
    }

    body > footer > section > div li{
        border-bottom: unset;
    }
    
    body > footer > section > div li a{
        /*text-align: center;*/
        text-transform: uppercase;
        font-weight: bold;
    }
    
}

@media screen and (min-width: 1200px){
    body > main,
    body > nav > ul,
    body > footer > section{
        width: 1140px;
    }

    body > main > section > article:last-child:nth-of-type(2n + 1){
        width: var(--column-1-3);
    }

    body > main > section article{
        width: var(--column-1-3);
    }

    body > main > section > article:last-child:nth-of-type(3n + 2){
        width: var(--column-2-3);
    }

    body > main > section > article:last-child:nth-of-type(3n + 1){
        width: var(--column-1-1);
    }
}

@media screen and (min-width: 1400px){
    body > main,
    body > nav > ul,
    body > footer > section{
        width: 1320px;
    }
}

@media screen and (min-width: 1600px){
    body > main,
    body > nav > ul,
    body > footer > section{
        width: 1500px;
    }

    body > main > section article{
        width: var(--column-1-4);
    }

    body > main > section > article:last-child:nth-of-type(4n + 3){
        width: var(--column-1-2);
    }

    body > main > section > article:last-child:nth-of-type(4n + 2){
        width: var(--column-3-4);
    }
}
